@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");

:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background: #282a36;
  color: #f8f8f2;
  font: 500 1.6rem Fira Code, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

body#container-image {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#container-image:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(40, 42, 54, 0.9);
}

a {
  color: #6272a4;
}

a:hover {
  color: #ff79c6;
  transition: all 0.5s ease-out;
}

.container {
  text-align: center;
}

.container .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 4.8rem;
  border: .7rem #6272a4 solid;
  background: url(../img/portrait.jpg);
  background-size: 100%;
}

.container .profile-title,
a {
  font-size: 1.8rem;
  font-weight: bolder;
  margin-bottom: .4rem;
}

.container span {
  font-size: 1.4rem;
  text-align: center;
}

.container .menu {
  margin: 2.8rem 0 1.4rem 0;
}

ul {
  list-style: none;
}

.container .menu li a {
  color: #f8f8f2;
  font-size: 1.4rem;
  text-decoration: none;
}

.container .menu li+li {
  margin-top: 1.2rem;
}


.container .icons {
  margin-top: 1.2rem;
  display: inline-block;
}

.container .icons li {
  display: inline-block;
}

.container .icons a {
  display: block;
  font-size: 1.2rem;
}


.container .footer {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2.4rem;
}