@import "config";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");

* {
  box-sizing: border-box;
}

body {
  @include background;
  height: 100%;
  width: 100%;
  margin: 0;
  background: $primary-color;
  color: $text-color;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
}

a {
  color: $text-color;
  text-decoration: none;
}

section {
  padding: 4rem;

  align-items: center;
  text-align: center;

  span {
    font-size: 17px;
    display: block;
  }

  .profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    border: 2px solid;
    background: $portrait-image;
  }

  .icons {
    margin-top: 2rem;
    padding: 0 2rem;
    display: inline-block;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100px;
      height: 2px;
      background: $text-color;
      content: "";
      margin: auto;
    }
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 100px;
      height: 2px;
      background: $text-color;
      content: "";
      margin: auto;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 0.3rem;
      font-size: 0.5rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 0.7rem;
}
